html,
body {
  background-color: black;
  color: white;
  width: 800px;
}

.wrapper > * {
  margin: 5px;
  box-shadow: 0 0 5px #fff;
  width: 790px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

img {
  width: auto;
  vertical-align: middle;
}

p {
  margin: 0;
}

.player {
  display: flex;
  position: relative;
  height: 128px;
}

.player .avatar {
  width: 128px;
  height: 128px;
  position: absolute;
}

.player .avatar img {
  width: 100%;
  border-radius: 5px;
}

.player .name {
  font-size: 24px;
}
.player .name .guild::before {
  content: "[";
  color: #fff;
}
.player .name .guild::after {
  content: "]";
  color: #fff;
}
.player .name .hero_name::before {
  content: ">";
  color: #fff;
}
.player .name .hero_name::after {
  content: "<";
  color: #fff;
}

.player .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* line-height: 2; */
  justify-content: space-around;
}

.player .info .guild.Copper {
  color: #b4775f;
}
.player .info .guild.Silver {
  color: #9a9593;
}
.player .info .guild.Gold {
  color: #bda97f;
}
.player .info .guild.Diamond {
  color: #a5cbcf;
}

.player .info .matches span.win {
  color: #007a00;
}
.player .info .matches span.lose {
  color: #b30000;
}

.player .info .matches span.victory {
  color: lightgreen;
}
.player .info .matches span.stomp {
  color: green;
  /* font-size: 8px; */
}
.player .info .matches span.fail {
  color: #ff6961;
}
.player .info .matches span.stomped {
  color: red;
  /* font-size: 8px; */
}
.player .info .matches.blur {
  filter: blur(10px);
}

.player .rank {
  width: 64px;
  height: 64px;
  flex-grow: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.player .rank.estimated {
  filter: grayscale(100%);
}

.player .rank .medal {
  z-index: 1;
}

.player .rank .star {
  z-index: 2;
}

.player .rank p {
  z-index: 4;
}

.player .rank div {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.player .rank img {
  top: 0;
  right: 0;
  position: absolute;
  height: 64px;
}

.player .rank p {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  text-align: center;
  width: 64px;
  bottom: 4px;
  right: 0;
  /* background-color: #222; */
  /* border: black 1px solid; */
  box-sizing: border-box;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* 描边效果 */
}

.hero_winrate > *:not(:last-child) {
  /* margin-bottom: 10px; */
}

.hero_winrate {
}

.hero_winrate .heroes {
  display: grid;
  /* line-height: 2; */
  grid-template-columns: 32px auto auto auto auto auto;
  /* grid-template-rows: repeat(auto-fill, 1fr); */
  justify-content: start;
  align-items: center;
}

.hero_winrate .heroes .hero {
  width: 100%;
  display: flex;
  align-items: center;
}

.hero_winrate .heroes img {
  width: 100%;
  /* height: 32px; */
  border-radius: 6px;
  overflow: hidden;
}

.hero_winrate .heroes span.imp {
  margin: 0 4px;
}

.hero_winrate .heroes span {
  text-align: center;
}

.hero_winrate .heroes .tip.row {
  grid-column: 1/-1;
}

.hero_winrate .heroes .win {
  /* color: #000; */
  text-align: right;
  padding-right: 8px;
  background-color: #006400;
  border-radius: 16px 0 0 16px;
  height: 16px;
  justify-self: end;
}
.hero_winrate .heroes .lose {
  /* color: #000; */
  text-align: left;
  padding-left: 8px;
  background-color: #8b0000;
  border-radius: 0 16px 16px 0;
  height: 16px;
  justify-self: start;
}

table.matches {
  table-layout: fixed;
  width: 100%;
}

.matches .match.win {
  background-color: #006400;
}
.matches .match.lose {
  background-color: #8b0000;
}

.matches .match td {
  text-align: center;
  /* line-height: 40px; */
  height: 40px;
  overflow: hidden;
}

.matches .match .player_lane {
  width: 100%;
  height: 100%;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  display: flex;
}

.matches .match .player_lane:not(.tie) {
  /* background-color: #000; */
}

.matches .match .player_lane svg {
  width: 36px;
  height: 36px;
}
.player_lane.victory svg path {
  fill: lightgreen;
}

.player_lane.stomp svg path {
  fill: green;
}

.player_lane.stomped svg path {
  fill: red;
}

.plus {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.plus .hero {
  width: 190px;
  height: 190px;
  border-radius: 5px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 118.75px auto;
  justify-items: center;
  align-items: center;
}
.plus .hero img {
  width: 100%;
  grid-column: 1/-1;
}

.plus .level {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  top: calc(118.75px - 25px);
}

.plus .level span {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 18px;
  font-size: 14px;
  text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000;
}

.blur-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000050;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lock-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.lock-text {
  font-size: 18px;
  font-weight: bold;
}
.lock-sub {
  line-height: 3;
  font-size: 14px;
  color: #aaa;
}
