lib
dist
external

node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
tsconfig.tsbuildinfo

.eslintcache
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

temp.*
backup.ts
# **/generated/*.png

# VitePress cache
**/.vitepress/cache

# 当前文档使用图片由本地构建，不再需要将临时测试数据上传至远程仓库。
src/docs/.vitepress/data/*
!src/docs/.vitepress/data/.gitkeep
