<div class="blur-overlay">
  <span class="lock-icon">🔒</span>
  <span class="lock-text"><%= $t("dota2tracker.template.anonymous_player_1") %></span>
  <span class="lock-sub"><%= $t("dota2tracker.template.anonymous_player_2",{player:player.steamAccount.name}) %></span>
</div>
