<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <style>
            html,
            body {
                background-color: black;
                color: white;
                width: 800px;
            }

            .wrapper > *:not(.skills) {
                margin: 5px;
                box-shadow: 0 0 5px #fff;
                display: flex;
            }

            img {
                width: 100%;
                vertical-align: middle;
            }

            p {
                margin: 0;
            }

            .hero {
                position: relative;
            }

            .hero img {
                /* flex-grow: 1; */
                width: 25%;
            }

            .hero .pri_attr {
                position: absolute;
                width: 48px;
                left: 25%;
            }

            .hero .info {
                display: flex;
                width: 75%;
                /* height: 100%; */
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 4px;
            }

            .hero .info .name {
                font-size: 24px;
            }

            .hero .info .roles .role {
                font-size: 14px;
            }

            .hero .info .roles .role:not(:last-child) {
                margin-right: 12px;
            }

            .hero .info .roles .role::after {
                margin-left: 3px;
                font-size: 22px;
            }

            .hero .info .roles .role.level1::after {
                content: "■□□";
            }

            .hero .info .roles .role.level2::after {
                content: "■■□";
            }

            .hero .info .roles .role.level3::after {
                content: "■■■";
            }

            .hero .info .attrs {
                height: 16px;
                font-size: 16px;
                line-height: 1;
            }
            .hero .info .attrs > span {
                margin: 0 8px;
                vertical-align: middle;
            }

            .hero .info .attrs > span::before {
                display: inline-block;
                content: "";
                background-size: 100%;
                width: 16px;
                height: 16px;
                vertical-align: top;
            }

            .hero .info .attrs > span.str::before {
                background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_strength.png");
            }

            .hero .info .attrs > span.agi::before {
                background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_agility.png");
            }

            .hero .info .attrs > span.int::before {
                background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_intelligence.png");
            }

            .details {
                flex-direction: row;
            }

            .details > * {
                width: 50%;
            }

            .details .hype_talents {
                display: flex;
                flex-direction: column;
            }

            .details .hype {
                padding: 8px;
                line-height: 1.25;
            }

            .talents {
                display: flex; /* 启用Flex布局 */
                flex-wrap: wrap; /* 允许元素换行 */
                justify-content: center; /* 水平居中整体内容 */
                border: #444 10px solid;
                /* background-color: ; */
                /* padding: 10px; */
                box-sizing: border-box;
            }

            .talents .talent {
                width: 375px;
                line-height: 35px;
                text-align: center;
                display: flex;
            }

            .talents .talent .left,
            .talents .talent .right {
                width: 170px;
                font-size: 12px;
            }

            .talents .talent:not(:last-child) {
                border-bottom: 10px solid #444;
            }

            .talents .talent .level {
                flex: 0 0 auto; /* 第二个元素不伸缩，保持自身宽度 */
                width: 35px; /* 给中间元素一个固定宽度 */
                height: 35px;
                font-size: 18px;
                line-height: 35px;
                text-align: center;
                box-sizing: border-box;
                border-radius: 100%;
                color: #e7d292;
                text-shadow: 0px 0px 8px #ff531c;
                background-color: #444;
                /* font-family: Reaver, serif;
                font-weight: bold; */
            }

            .details .list {
            }

            .details .list td {
                width: 50%;
                text-align: center;
            }

            .details .list tr:nth-child(even) {
                background-color: #333;
            }

            .skills {
                width: 800px;
                display: flex;
                flex-wrap: wrap;
            }

            .skill {
                background-color: #141b1f;
                margin: 5px;
                box-shadow: 0 0 5px #fff;
                width: 390px;
                /* flex-direction: column; */
            }

            .skill > *:not(:nth-child(2)) {
                padding-left: 8px;
            }

            .skill > .title {
                position: relative;
                background-color: #1f272b;
                padding: 8px;
                font-weight: 100;
                font-family: "KaiTi", "楷体", "楷体_GB2312", "STKaiti", serif;
            }

            .skill img.scepter,
            .skill img.shard {
                position: absolute;
                width: 24px;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }

            .skill .img_stats {
                display: flex;
                color: #546780;
                margin-bottom: 16px;
                border-top: #2a363c 1px solid;
                border-bottom: #2a363c 1px solid;
            }

            .skill .img_stats img {
                width: 128px;
            }

            .skill .img_stats .stats {
                padding: 8px;
            }

            .skill .stats .dmg_type.Physical::after {
                content: "物理";
                color: #ae2f28;
            }

            .skill .stats .dmg_type.Magical::after {
                content: "魔法";
                color: #5b93d1;
            }

            .skill .stats .dmg_type.Pure::after {
                content: "纯粹";
                color: #c29c4a;
            }

            .skill .stats .dispellable.Yes::after {
                content: "是";
                /* color: #c29c4a; */
            }

            .skill .stats .dispellable.No::after {
                content: "无法驱散";
                color: #f00;
            }

            .skill .stats .dispellable.Strong::after {
                content: "仅强驱散";
                color: #9828ae;
            }

            .skill .description {
                color: #9bb1ce;
                margin-bottom: 32px;
            }

            .skill .aghanim_description {
                padding-left: 0;
                color: #9bb1ce;
                margin-bottom: 16px;
                border: #263945 solid 3px;
                box-sizing: border-box;
            }

            .skill .aghanim_description .title {
                /* content: "阿哈利姆魔晶"; */
                display: block;
                font-size: 20px;
                background-color: #263945;
                padding: 12px;
            }

            .skill .aghanim_description .desc {
                margin: 12px;
                display: block;
            }

            .skill .aghanim_description img{
                position: unset;
                transform: none;
            }

            .skill .notes {
                padding: 12px;
                margin-bottom: 12px;
                color: #9fb7c6;
                background-color: #263945;
            }

            .skill .attributes .item {
                color: #546780;
            }

            .skill .attributes .item::after {
                content: "：";
            }

            .skill .attributes .values {
                color: #4b525d;
            }

            .skill .attributes {
                margin-bottom: 12px;
            }

            .skill .mana_cost {
                padding-left: 12px;
            }

            .skill .cooldown::before,
            .skill .mana_cost::before {
                content: "";
                background-size: 100%;
                width: 21px;
                height: 21px;
                display: inline-block;
                vertical-align: middle;
            }

            .skill .cooldown::before {
                background-image: url("data:image/webp;base64,UklGRnABAABXRUJQVlA4TGMBAAAvE8AEEE2QTdqmkI5pRP/DS2wBEIT/bw8R/U8Ddq1NipSvGnd3eXJ3d3kmEM+GTDwBciCBTQCd7qpCeokBQdu2cc6f8tcQEBT5P9oEIGiwYuMBECqAbCUVIIAa19Py1I/AQMrJVGEABACe+DRqcl2GUxeOwIAzQkAAMCBxyi3BRcbSkzAKyIDTciQOAAgwyx43JA4CWRkeQXAAQKkGEs5+/siARwFHAHCUiAGwPwAEAGQSDgCAoCQUQc7OkwMbhgAAJBIKEAtkE9enBgcABEUxAIwyZ6cOx/lTkPiHsX+mqCQTMQRwcmAszPLUoTiCkVAAbDKEAWWUjWlGMYyEAR4n4wMeiBk8W9M1lphIQmAsmWxBJ1vfAJZIBMAoJwNQ0JTN04/yRaCCftofwWBkAMAjQ6BILaWMsEkFFVTTk/qEETyQlYFXnh9jmABKbkgzNQgemYwnTOKFEgAAOGJAeUbyhQIAAA==");
            }

            .skill .mana_cost::before {
                background-image: url("data:image/webp;base64,UklGRsYAAABXRUJQVlA4TLkAAAAvE8AEEIfBOIDbtEmdpEDhS8G2kSTF0eteuLOebJz/0KDREgwBAGEu/89yqe5LCyEaDT03NBcLpEXnJgkZKS2dmlqAlNSCgJXURBoNCHAY2bbSvEP0fxzi7sGh//rslRDR/xQxS0bXRkRMmr5Ho8iISY5523Ztr2vabBuaZZLVE99wRqWAUgGFAv4K+Cngo4CXAp4KeCjgroCbAi4KVv7pOnFwF8aP9+fRXeAaMZ63GbXWiIhxGJ0bEQA=");
            }

            .skill .lore {
                font-size: 13px;
                color: #3e4f5b;
                padding: 8px;
                line-height: 1.25;
            }

            body .wrapper > .lore {
                /* flex-direction: column; */
                display: block;
                line-height: 1.25;
                padding: 8px;
                font-family: "KaiTi", "楷体", "楷体_GB2312", "STKaiti", serif;
                color: #aaa;
            }
        </style>
    </head>
    <body>
        <% let hero = data; %>
        <div class="wrapper">
            <%- `
            <div class="hero" id="${hero.id}">
                <img src="${utils.getImageUrl(hero.shortName, ImageType.Heroes)}" alt="" />
                <img class="pri_attr" src="${utils.getImageUrl(d2a.primary_attrs[dotaconstants.heroes[hero.id].primary_attr], ImageType.Icons)}" alt="" />
                <div class="info">
                    <p class="name">${hero.language.displayName}</p>
                    <p class="roles">
                        ${hero.roles.map((item) => `<span class="role level${item.level}">${d2a.roles[item.roleId]}</span>`).join("")}
                    </p>
                    <p class="attrs">
                        <span class="str">${dotaconstants.heroes[hero.id].base_str} <span class="gain">+${dotaconstants.heroes[hero.id].str_gain.toFixed(1)}</span></span>
                        <span class="agi">${dotaconstants.heroes[hero.id].base_agi} <span class="gain">+${dotaconstants.heroes[hero.id].agi_gain.toFixed(1)}</span></span>
                        <span class="int">${dotaconstants.heroes[hero.id].base_int} <span class="gain">+${dotaconstants.heroes[hero.id].int_gain.toFixed(1)}</span></span>
                    </p>
                </div>
            </div>
            <div class="details">
                <div class="hype_talents">
                    <div class="hype">
                        ${hero.language.hype}
                    </div>
                    <div class="talents">
                        <div class="talent">
                            <div class="left">${hero.talents[7].name_cn}</div>
                            <div class="level">25</div>
                            <div class="right">${hero.talents[6].name_cn}</div>
                        </div>
                        <div class="talent">
                            <div class="left">${hero.talents[5].name_cn}</div>
                            <div class="level">20</div>
                            <div class="right">${hero.talents[4].name_cn}</div>
                        </div>
                        <div class="talent">
                            <div class="left">${hero.talents[3].name_cn}</div>
                            <div class="level">15</div>
                            <div class="right">${hero.talents[2].name_cn}</div>
                        </div>
                        <div class="talent">
                            <div class="left">${hero.talents[1].name_cn}</div>
                            <div class="level">10</div>
                            <div class="right">${hero.talents[0].name_cn}</div>
                        </div>
                    </div>
                </div>
                <table class="list">
                    <tbody>
                        <tr>
                            <td>初始生命值</td>
                            <td>${dotaconstants.heroes[hero.id].base_health + dotaconstants.heroes[hero.id].base_str * 22}</td>
                        </tr>
                        <tr>
                            <td>初始生命回复</td>
                            <td>${dotaconstants.heroes[hero.id].base_health_regen}</td>
                        </tr>
                        <tr>
                            <td>初始魔法值</td>
                            <td>${dotaconstants.heroes[hero.id].base_mana + dotaconstants.heroes[hero.id].base_int * 12}</td>
                        </tr>
                        <tr>
                            <td>初始魔法回复</td>
                            <td>${dotaconstants.heroes[hero.id].base_mana_regen}</td>
                        </tr>
                        <tr>
                            <td>初始攻击力</td>
                            <td>${dotaconstants.heroes[hero.id].base_mr + Math.round(dotaconstants.heroes[hero.id].primary_attr == "all" ? 
                                (dotaconstants.heroes[hero.id].base_str + dotaconstants.heroes[hero.id].base_agi + dotaconstants.heroes[hero.id].base_int) * 0.7
                                : dotaconstants.heroes[hero.id]["base_" + dotaconstants.heroes[hero.id].primary_attr])}
                                （${dotaconstants.heroes[hero.id].base_attack_min + Math.round(dotaconstants.heroes[hero.id].primary_attr == "all" ?
                                (dotaconstants.heroes[hero.id].base_str + dotaconstants.heroes[hero.id].base_agi + dotaconstants.heroes[hero.id].base_int) * 0.7
                                : dotaconstants.heroes[hero.id]["base_" + dotaconstants.heroes[hero.id].primary_attr])}
                                ~${dotaconstants.heroes[hero.id].base_attack_max + Math.round(dotaconstants.heroes[hero.id].primary_attr == "all" ?
                                (dotaconstants.heroes[hero.id].base_str + dotaconstants.heroes[hero.id].base_agi + dotaconstants.heroes[hero.id].base_int) * 0.7
                                : dotaconstants.heroes[hero.id]["base_" + dotaconstants.heroes[hero.id].primary_attr])}）
                            </td>
                        </tr>
                        <tr>
                            <td>基础攻击间隔</td>
                            <td>${dotaconstants.heroes[hero.id].attack_rate.toFixed(1)}</td>
                        </tr>
                        <tr>
                            <td>基础攻击前摇</td>
                            <td>${dotaconstants.heroes[hero.id].attack_point.toFixed(1)}</td>
                        </tr>
                        <tr>
                            <td>攻击范围</td>
                            <td>${dotaconstants.heroes[hero.id].attack_range}</td>
                        </tr>
                        <tr>
                            <td>护甲</td>
                            <td>${(Math.round((dotaconstants.heroes[hero.id].base_armor + dotaconstants.heroes[hero.id].base_agi * 0.167) * 10) / 10).toFixed(1)}</td>
                        </tr>
                        <tr>
                            <td>移动速度</td>
                            <td>${dotaconstants.heroes[hero.id].move_speed}</td>
                        </tr>
                        <tr>
                            <td>视野范围</td>
                            <td>${dotaconstants.heroes[hero.id].day_vision}（${dotaconstants.heroes[hero.id].night_vision}）</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="skills">
                ${hero.abilities.filter((item) => dotaconstants.abilities[item.ability.name].behavior != "Hidden")
                .map((item) => `
                <div class="skill">
                    <p class="title">
                        <span>${item.ability.language.displayName}</span>
                        ${item.ability.stat.isGrantedByScepter ?`<img src="${utils.getImageUrl("scepter")}" alt="" class="scepter"></p>`:""}
                        ${item.ability.stat.isGrantedByShard ?`<img src="${utils.getImageUrl("shard")}" alt="" class="shard"></p>`:""}
                    </p>
                <div class="img_stats">
                    <img src="${utils.getImageUrl(item.ability.name, ImageType.Abilities)}" alt="" />
                    <div class="stats">
                        <p class="behavior">技能：${(Array.isArray(dotaconstants.abilities[item.ability.name].behavior) ? dotaconstants.abilities[item.ability.name].behavior : [dotaconstants.abilities[item.ability.name].behavior])
                            .filter((beh) => beh !== "Hidden" || !(item.ability.stat.isGrantedByShard || item.ability.stat.isGrantedByScepter))
                            .map((beh) => d2a.behavior[beh])
                            .join("/")}</p>
                        ${dotaconstants.abilities[item.ability.name].target_team
                                ? `<p class="target_team">影响：${(Array.isArray(dotaconstants.abilities[item.ability.name].target_team)
                                ? dotaconstants.abilities[item.ability.name].target_team
                                : [dotaconstants.abilities[item.ability.name].target_team])
                                .map((tt) => d2a.target_team[tt])
                                .join("/")}</p>`
                                : ""}
                        ${!Array.isArray(dotaconstants.abilities[item.ability.name].dmg_type) && dotaconstants.abilities[item.ability.name].dmg_type
                                ? `<p class="dmg_type ${dotaconstants.abilities[item.ability.name].dmg_type}">伤害类型：</p>`
                                : ""}
                        ${dotaconstants.abilities[item.ability.name].dispellable
                                ? `<p class="dispellable ${dotaconstants.abilities[item.ability.name].dispellable == "Strong Dispels Only" ? "Strong" : dotaconstants.abilities[item.ability.name].dispellable}">能否驱散：</p>`
                                : ""}
                        ${!Array.isArray(dotaconstants.abilities[item.ability.name].bkbpierce) && dotaconstants.abilities[item.ability.name].bkbpierce
                                ? `<p class="bkbpierce">无视减益免疫： ${dotaconstants.abilities[item.ability.name].bkbpierce == "Yes" ? "是" : "否"}</p>`
                                : ""}
                    </div>
                </div>
                ${item.ability.language.description.map((desc) => `<p class="description">${desc}</p>`).join("")}
                ${item.ability.language.aghanimDescription
                ? `<p class="aghanim_description">
                    <span class="title"><img src="${utils.getImageUrl("scepter")}" alt="" class="scepter">阿哈利姆神杖</span>
                    <span class="desc">${item.ability.language.aghanimDescription}</span>
                </p>` : ""}
                ${item.ability.language.shardDescription
                ? `<p class="aghanim_description">
                    <span class="title"><img src="${utils.getImageUrl("shard")}" alt="" class="shard">阿哈利姆魔晶</span>
                    <span class="desc">${item.ability.language.shardDescription}</span>
                </p>` : ""}
                <div class="notes"${!item.ability.language.notes.length ? ` style="display:none;"` : ""}>
                    ${item.ability.language.notes.map((note) => `<p>${note}</p>`).join("")}
                </div>
                <div class="attributes">
                ${item.ability.language.attributes
                    .map((attr) => {
                        const parts = attr.split("：");
                        return `<p><span class="item">${parts[0]}</span><span class="values">${parts[1]}</span></p>`;
                    })
                    .join("")}
                </div>
                <p>
                    ${dotaconstants.abilities[item.ability.name].cd ?
                    `<span class="cooldown"> ${(Array.isArray(dotaconstants.abilities[item.ability.name].cd)
                        ? dotaconstants.abilities[item.ability.name].cd
                        : [dotaconstants.abilities[item.ability.name].cd]).join(" / ")}
                    </span>` : ""}
                    ${dotaconstants.abilities[item.ability.name].mc ?
                    `<span class="mana_cost"> ${(Array.isArray(dotaconstants.abilities[item.ability.name].mc)
                        ? dotaconstants.abilities[item.ability.name].mc
                        : [dotaconstants.abilities[item.ability.name].mc]).join(" / ")}
                    </span>` : ""}
                </p>
                <p class="lore"${!item.ability.language.lore ? ` style="display:none;"` : ""}>${item.ability.language.lore}</p>
            </div>`).join("")}
        </div>
        <div class="lore">
            ${hero.language.lore}
        </div>` %>
    </body>
</html>
