html {
  overflow: visible;
}

body {
  /* width: 1200px; */
  display: flex;
  flex-direction: column;
  overflow: visible;
}

#regular {
  width: 800px;
}

#extra {
  display: flex;
  width: 800px;
}

#charts {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#charts > svg {
  font-size: 10px;
}

#charts > .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#charts > .title > .logo {
  display: flex;
  padding: 0 25px;
}

#charts > .title > .logo > img{
  width: 20px;
}

#extra > .tip {
  width: 100%;
  line-height: 4;
  text-align: center;
  color: #ccc;
}
