@theme {
  /* 1. 颜色定义 */
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-dota-red: #ff3c3c;
  --color-dota-dark-red: #b91c1c;
  --color-dota-gold: #e8bc56;
  --color-dota-dark-gold: #b48518;
  --color-dota-green: #0bda5b;
  --color-card-dark: #16202c;
  --color-card-darker: #0d141c;
  --color-surface: #1c2633;

  /* 2. 字体定义 */
  --font-display: "Inter", sans-serif;
  --font-serif: "Cinzel", serif;

  /* 3. 背景图片定义 */
  --image-smoke-pattern: radial-gradient(circle at 50% 50%, rgba(20, 30, 40, 0) 0%, rgba(16, 25, 34, 0.8) 100%);
  --image-topographic: linear-gradient(rgba(16, 25, 34, 0.95), rgba(16, 25, 34, 0.95)), repeating-linear-gradient(45deg, #1a2634 0px, #1a2634 1px, transparent 1px, transparent 10px);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-background-dark);
}
::-webkit-scrollbar-thumb {
  background: #233648;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
