html {
  overflow: visible;
}

body {
  /* width: 1200px; */
  display: flex;
  flex-direction: column;
  overflow: visible;
}

#regular {
  width: 800px;
}

#extra {
  display: flex;
  width: 800px;
  flex-direction: row;
}

#charts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#charts > svg {
  font-size: 10px;
}

#charts > .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#charts > .title > .logo {
  display: flex;
  padding: 0 25px;
}

#charts > .title > .logo > img {
  width: 20px;
}

#extra > .tip {
  width: 100%;
  line-height: 4;
  text-align: center;
  color: #ccc;
}

.lane_outcome {
  display: flex;
  flex-direction: column;
  width: 386px;
  margin-right: 14px;
}

.lane_outcome > .title {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 50px;
}

.lane_outcome .panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.lane_outcome .panel .lane {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lane_outcome .panel .lane > .title {
  width: 100%;
  text-align: center;
  height: 32px;
}

.lane_outcome .panel .lane > .title > p:nth-child(1){
  font-size: 12px;
}

.lane_outcome .panel .lane > .title > p:nth-child(2){
  font-size: 14px;
}

.lane_outcome .panel .details {
  display: grid;
  grid-template-columns: 24px 32px 44px auto 44px 32px 24px;
  grid-template-rows: 1fr;
  gap: 1px;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  align-items: center;
}

.lane_outcome .panel .lane img.hero{
  width: 24px;
  height: 24px;
}

.lane_outcome .panel .lane .kda {
  height: 100%;
  line-height: 32px;
  text-align: center;
  font-size: 10px;
}

.lane_outcome .panel .lane .graph {
  height: 32px;
  display: flex;
  align-items: center;
}

.graph svg {
  shape-rendering: crispEdges;
}
.graph text {
  dominant-baseline: middle; /* 垂直居中 */
  white-space: nowrap; /* 防止换行 */
}
